<div id="cover-photo">
    <%=
        image_tag ((@user.cover_photo.nil?) ?
            'default-cover.jpg' :
            current_user.profile_picture
        ), alt: 'Your Cover Photo'
    %>
</div>

<div class="album-content">

    <h4><%= @user.username %>'s Albums</h4>
    <% if @user.albums.any? %>

    <% @user.albums.each do |album| %>
    <ul>
        <li>
            <%= link_to album.name, user_album_path(@user.username, album) %>
        </li>
    </ul>
    <% end %>
    <% else %>
    <p>No albums are listed for this user.</p>
    <% end %>

</div>
