<div id="cover-photo">
    <% if current_user.cover_photo.attached? %>
        <%= image_tag current_user.cover_photo, alt: 'Your Cover Photo' %>
    <% else %>
        <%= image_tag 'default-cover.jpg', alt: 'Your Cover Photo' %>
    <% end %>
</div>
<div class="album-content">

    <% if @user.albums.any? %>
  <h4>Here are the albums for this user:</h4>

  <% @user.albums.each do |album| %>
    <ul>
      <li>
        <%= link_to album, album_path(album) %>
      </li>
    </ul>
  <% end %>
<% else %>
  <p>No albums are listed for this user.</p>
<% end %>

</div>
